html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.cp {
  cursor: pointer !important;
}

.leaflet-overlay-pane .leaflet-interactive {
  cursor: inherit;
}

.leaflet-marker-pane .leaflet-marker-icon {
  cursor: pointer;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.dark-theme .leaflet-tile {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.mt-m-22 {
  margin-top: -22px !important;
}